<MudStack Row Spacing="0">
    <div style="background-color:whitesmoke; border-bottom: 1px solid #c3c3c3; width:224px;">
        <MudPaper Elevation="0" Width="100%" Class="pa-4" Style="background-color:whitesmoke;">
            <MudStack Row Style="height:100%; align-items:center">
                 <MudAvatar Size="Size.Medium" Image="/user.png" />
                <div>
                    <MudText Typo="Typo.overline" Style="line-height:16px; display:inline-block; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; width:150px" Align="Align.Left">JOE BLOGS</MudText>
                    <MudText Typo="Typo.caption" Class="mt-n5" Style="line-height:16px; display:inline-block; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; width:150px">Designer</MudText>
                </div>
            </MudStack>
        </MudPaper>
    </div>
    <MudPaper Square Elevation="0" Width="100px" Style="; border: 1px solid #c3c3c3;">

    </MudPaper>        
    <MudPaper Square Elevation="0" Width="100px" Style="; border: 1px solid #c3c3c3;">

    </MudPaper>        
    <MudPaper Square Elevation="0" Width="100px" Style="; border: 1px solid #c3c3c3;">

    </MudPaper>
</MudStack>

@code {

}
